body{
  background-color: #eaeaea;
}

/* nav */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
.logo{
  display: flex;
  justify-content: center;
  margin: 2rem;
  
}
.logo img{
  border-radius: 40%;
}

ul {
  display: flex;
  flex-flow: row;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  gap: 14rem
  ;
}

li a {
  
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a.active {
  color: white;
  background-color: #d0043e;
}


.blog {
  /* border-top: 1px solid black; */
  height: 10rem;
}

img{
  max-width: 10%;
}

.blog-div{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 2rem;
  gap: 10px;
  text-align: center;
}

h1{
  color: #83002e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 300;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
